[submodule "themes/tract"]
	path = themes/tract
	url = https://github.com/tract-docs/tract
[submodule "themes/hugo-notice"]
	path = themes/hugo-notice
	url = https://github.com/martignoni/hugo-notice.git
